/build/*
.idea/
/codepropertygraph/src/main/proto/io/shiftleft/codepropertygraph/protos.proto
target/
codepropertygraph/project/
/codepropertygraph/src/main/resources/cpg.json
/protoc-*.zip
private-key.pem
travis_wait_*
**/*.pyc
