/build/*
.idea/
/codepropertygraph/src/main/proto/io/shiftleft/codepropertygraph/protos.proto
target/
codepropertygraph/project/
/codepropertygraph/src/main/resources/cpg.json
private-key.pem
travis_wait_*
**/*.pyc
/protoc
project/.bloop
.bloop
foo.c
woo.c
/CMakeCache.txt
/CMakeFiles