language: scala
dist: xenial
jdk: openjdk8
if: tag IS blank

branches:
  only:
  - master

before_install:
- git fetch --tags
- git lfs fetch --all
- if [[ "$TRAVIS_BRANCH" == "master" && "$TRAVIS_EVENT_TYPE" == "push" ]]; then
    openssl aes-256-cbc -K $encrypted_663dec309dc8_key -iv $encrypted_663dec309dc8_iv -in private-key.pem.enc -out private-key.pem -d;
    gpg --import --batch private-key.pem;
  fi

env:
- PROTOC_PKG=protoc-3.6.0-linux-x86_64.zip
- PROTOC_RELEASE=https://github.com/google/protobuf/releases/download/v3.6.0/$PROTOC_PKG
- PROTOC_TARGET=${HOME}/protoc
- PATH="${PROTOC_TARGET}/bin:${PATH}"

install:
- rm -rf $HOME/protoc
- wget $PROTOC_RELEASE
- unzip $PROTOC_PKG -d $PROTOC_TARGET
- protoc --version

stages:
- name: test
- name: release
  if: branch = master AND type = push

jobs:
  include:
  - stage: test
    script: sbt test scalafmtCheck
  - stage: release
    script: sbt ci-release-sonatype

before_cache:
- find $HOME/.sbt -name "*.lock" -type f -delete
- find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
- rm -rf $HOME/.ivy2/local

cache:
  directories:
  - $HOME/.sbt/1.0/dependency
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
  - $HOME/.coursier