name: PR build

on:
  pull_request:
    branches: [ master ]

jobs:
  test-codepropertygraph:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        lfs: true
    - name: Clone submodules
      run: git submodule update --init --recursive
    - name: apt-get update
      run: sudo apt-get update
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: 19
    - name: Compile and run tests
      run: sbt +test
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Check formatting
      run: sbt scalafmtCheck Test/scalafmtCheck
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: echo "Previous step failed because code is not formatted. Run 'sbt scalafmt'"
      if: ${{ failure() }}
    - name: Check if there are changes
      uses: NathanielHill/fail-if-changes@master
    - name: Check domain classes
      run: sbt generateDomainClassesCheck
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: echo "Previous step failed because latest domain classes are not committed. Run 'sbt generateDomainClasses' (should be triggered automatically by `sbt compile`, so maybe you just forgot to commit?)"
      if: ${{ failure() }}
